<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
      <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="header"><h1 class="header_logo">Restaurant Collections</h1></div>
  <div class="login-page">
  <div class="form">

    <form action="/login" method="post" class="login-form">

      <input name="username" type="text" placeholder="Username"required/>
      <input name="password" type="password" placeholder="Password"/>
      <button>login</button>
      <p class="message">Don't have an account ? <a href="/register">Register</a></p>
    </form> 
  
  </div>
</div>
</body>

</html>
