<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Register</title>
      <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="header"><h1 class="header_logo">Restaurant Collections</h1></div>
  <div class="login-page">
  <div class="form">

    <form action="/register" method="post" class="login-form">

      <input name="username" type="text" placeholder="Username" required/>
      <input name="password" type="password" placeholder="Password"/>
      <button>register</button>
      <p class="message">Have an account ? <a href="/login">Login Here</a></p>
    </form>

  </div>
</div>
</body>

</html>
